<%- include('partials/header') %>
<main>
  <div class="container">
    <h1 class="title"><span></span> Catalogo</h1>
    <span class="linha"></span>
    <section class="favoritos">
      <% pokedex.forEach(pet => { %>
      <div class="box-update">
        <h3 class="texto-update"><%= pet.nome %></h3>
        <span></span>
          <img src="<%= pet.img %>" alt="<%= pet.nome %>" />
          <p><strong>Tipo: </strong> <%= pet.tipo %></p>
          <p><strong>Fraqueza: </strong> <%= pet.fraqueza %></p>
          <div class="btn">
            <input type="button" value="editar" src="#" />
            <input type="button" value="excluir" src="#" />
          </div>
      </div>
      <% }); %>
    </section>
</main>
<%- include("partials/footer") %>
